* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("pexels-visit-greenland-360912.jpg");
    background-size: cover;
   /* background: linear-gradient(240deg , blue , lightblue);*/
    min-height: 100vh;
    position: relative;
    z-index: -1;
}

.intro-text {
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%,-80%);
    font-family: sans-serif;
    

}
.intro-text h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 10px;
}
.intro-text h3{
    text-align: center;
    color: white;
    font-size: 18px;
}

#logoimg{
    height: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   animation: scrolldown;
    animation-duration: 3s;
}

#music-note {
    position: absolute;
    left: 75%;
    top: 25%;
    height: 80px;
    animation: scrolly;
    animation-duration: 3s;
    
}
#music-note1{
    position: absolute;
    left: 85%;
    top: 25%;
    height: 50px;
    animation: scrolly;
    animation-duration: 3s;
    }
#music-note2{
    position: absolute;
    left: 80%;
    top: 15%;
height: 50px;
animation: scrollyx;
    animation-duration: 3s;
}

.logo{
    border: 1px solid rgb(172, 171, 171);
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 12px;
    color: rgb(216, 213, 213);
    position: absolute;
    left: 10%;
    margin-top: 10px;
    font-family: sans-serif;
    
}

section {
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.section-content{
    display: flex;
}

.section-content__about {
    position: relative;
    text-align: center;
    min-height: fit-content;
    width: 50%;
}
.section-content__about h1 {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-bottom:1px solid rgb(216, 213, 213);;
    font-size:34px;
    color: rgb(216, 213, 213);;
}

.section-content__about p {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: rgb(216, 213, 213);
    margin-top: 30px;
    font-size:28px;
}
button {
  background-color: black; 
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;

  border: 2px solid red;
  cursor: pointer;

}
button:hover {
    border: 2px solid red;
    background-color: red; 
    color: white;
    font-weight: bolder;
    transition: 0.8s;
    box-shadow: 3px 3px 12px red;
}

@keyframes scrolldown {
    0% {
        top: -50px;
    }
    100% {
        top:50%;
    }
}

@keyframes scrolly {
    0% {
        top: -50px;
    }
    100% {
        top:25%;
    }
}

@keyframes scrollyx {
    0% {
        top: -50px;
    }
    100% {
        top:15%;
    }
}



@media only screen and (max-width: 720px) {
   header {width: 75vh;}
   #music-note{display: none;}
   #music-note2{display: none;}
   #music-note1{display: none;}
   section{flex-direction: column;
width: 75vh;}
   .section-content{
       width: 100%;
    flex-direction: column;
}
.section-content__about {
   margin-left: 10%;
    width: 75%;
}
#immg{
    position: relative;
    left: 10%;
    width: 400px;
    height: 400px;
}
}
/*@media screen and (max-width: 1024px) and (min-width: 700px) {


  .Out-Team__content{
      flex-direction: column;
      position: relative;
      
      }
}*/